{% extends 'base.html' %}

{% block content %}

<!--<h1>Lately added products</h1>-->
<h1>About us</h1>
</br>
<hr>

<h3>Who are we ?</h3>
<br/>
<p>Two EPITA students caring about the environment, Dorian and Clarisse. We want information about products' packaging to be accessible and easy to understand. We hope that with this website, people will be more sensitive about the packaging of the products and limit the consumption of products which packaging cannot be recycled.</p>
<br/>
<hr>
<h3>What about Green Data ?</h3>
<p>This website, may in the future also be a way for programmers to access a complete database about products' packaging to create projects committed for the environment.</p>

{% endblock %}