{% extends 'base.html' %}

{% block content %}

<h1>Lately added products</h1>

<ul>
{% for product in object_list %}
	<li><a href="{% url 'productDetail' product.pk %}"> {{ product.product_name }}</a> <small>
		{% if user.is_authenticated %}
		- <a href="{% url 'updateProduct' product.pk %}">Edit Product</a> - 
		<a href="{% url 'deleteProduct' product.pk %}">Delete Product</a> 
		{% endif %}
	</small><br/>
	{{ product.packaging }} <br/>
	{{ product.packaging_mass }} </li>

{% endfor %}
</ul>

{% endblock %}