{% extends 'base.html' %}

{% block title %} 
{{product.product_name}}
{% endblock %}


{% block content %}

<h1> Marmelade<!--{{product.product_name}}--></h1>
Brand Name
<br/>
 {{ product.category }}
<br/>
EcoScore : xx
<br/>
<br/>
Packaging Elements:
<ul>
<li>Lid - plastic - recyclable: No - recycled: Yes</li>
<li>Jar - glass - recyclable: Yes - recycled: Yes</li>

</ul>
<!--
<small>Packaging: {{product.packaging}} </small><br/>
<small>Packaging mass: {{product.packaging_mass}} </small>
-->
<br/>
<hr>
{% if user.is_authenticated %}
<small><a href="{% url 'updateProduct' product.pk %}">Edit Product</a> </small> <br/>
{% endif %}
{% if user.is_authenticated and user.is_superuser%}
<small><a href="{% url 'deleteProduct' product.pk %}">Delete Product</a> </small><br/>
{% endif %}

<small>Last author: {{product.author}} </small><br/>

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back<a/>

{% endblock %}
