{% extends 'base.html' %}

{% block title %} 
{{product.product_name}}
{% endblock %}


{% block content %}

<h1> {{product.product_name}}</h1> 
 {{ product.category }}
<br/>
<small>Packaging: {{product.packaging}} </small><br/>
<small>Packaging mass: {{product.packaging_mass}} </small>

<br/>
<hr>
{% if user.is_authenticated %}
<small><a href="{% url 'updateProduct' product.pk %}">Edit Product</a> </small> <br/>
<small><a href="{% url 'deleteProduct' product.pk %}">Delete Product</a> </small><br/>
{% endif %}

<small>Last author: {{product.author}} </small><br/>

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back<a/>

{% endblock %}
