{% extends 'base.html' %}

{% block content %}

    {% if searched %}
        <h1>You searched for "{{ searched }}"</h1>
        <br></br>
        {% for product in prod %}
            {% include 'product_li.html' %}
            <br/>
        {% endfor %}

    {% else %}
        <h1>You forgot to search for a product...</h1>
        </br>
        <h3>Here are the last added products:</h3>
        <br></br>
        {% for product in prod %}
            {% include 'product_li.html' %}
            <br/>
        {% endfor %}
    {% endif %}


    </center>
{% endblock %}