{% extends 'base.html' %}

{% block title %} 
{% if good_pk %}
{{product.name}}
{% else %}
Unknown product
{% endif %}
{% endblock %}


{% block content %}

<h1> {{product.name }} </h1>
<h2> {{ product.brand }} </h2>
<br/>
 Catergory: <span class="badge badge-light"><a href="{% url 'category' product.category %}"> {{ product.category|title }} </a></span>
<br/>
Origin country: {{ product.origin.name }}
<br/>

<div data-toggle="tooltip" data-placement="right" title="The Eko Score is calculated based on the data of the packaging. It is out of 100. The closer to 100, the better it is for the environment.">
    Eko Score: {{ product.eko_score}} 
	{% comment %} SVG info icon {% endcomment %}
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </svg>
</div>
<br/>
Packaging Elements:
<ul>

{% for pkg in packaging %}

<li>{{ pkg.element }} - <small>{{ pkg.material }} - Recyclable: {% if pkg.is_recyclable %} <span class="badge badge-success">Yes</span> {% else %} <span class="badge badge-danger">No</span> {% endif %}- Recycled: {% if pkg.is_recycled %} <span class="badge badge-success">Yes</span> {% else %} <span class="badge badge-danger">No</span> {% endif %} </small>
</li>

{% endfor %}

</ul>

<br/>
<hr>
{% if user.is_authenticated %}
<small><a href="{% url 'productapp:edit_product' pk %}">Edit Product</a> </small> <br/>
{% endif %}

{% endblock %}
